@import 'styles/reset.css';
@import 'styles/config';

body {
	background-color: rgba(0, 0, 0, 0.05);
	padding: 20px;
}

.project {
	background-color: #fff;
	float: left;
	padding: 20px;
	width: 10000px;

	.timeline {
		float: left;
		padding-left: 200px;
		position: relative;

		.months {
			float: left;

			.month {
				border-left: 2px solid $dark_blue;
				float: left;

				&:last-child {
					border-right: 2px solid $dark_blue;
				}

				> .name {
					background-color: $dark_blue;
					color: #fff;
					float: left;
					font: bold 1em Helvetica Neue, Helvetica, Arial, sans-serif;
					padding: 5px 0;
					text-align: center;
					width: 100%;
				}
				.days {
					clear: both;
					float: left;

					.day {
						border-right: 2px solid rgba(0, 0, 0, 0.05);
						float: left;

						&.friday {
							border-right: 2px solid rgba(0, 0, 0, 0.25);
						}
						&:last-child {
							border-right: 0;
						}

						> .name {
							border-bottom: 2px solid rgba(0, 0, 0, 0.05);
							color: rgba(0, 0, 0, 0.87);
							float: left;
							font: 1em Helvetica Neue, Helvetica, Arial, sans-serif;
							padding: 5px 0;
							text-align: center;
							width: 100%;

							span {
								color: rgba(0, 0, 0, 0.38);
								font-size: 0.7em;
								text-transform: uppercase;
								vertical-align: baseline;
							}
						}
						.hours {
							clear: both;
							float: left;

							.hour {
								border-right: 2px dashed rgba(0, 0, 0, 0.05);
								float: left;
								height: 400px;
								width: $hours_width;

								&:last-child {
									border-right: 0;
								}
							}
						}
					}
				}
			}
		}
		.developers {
			position: absolute;
			left: 0px;
			top: 63px;

			.developer {
				float: left;
				padding: 10px 0;
				width: 100%;

				&:nth-child(2n) {
					background-color: rgba(0, 0, 0, 0.05);
				}

				.name {
					color: rgba(0, 0, 0, 0.87);
					float: left;
					font: bold 1em Helvetica Neue, Helvetica, Arial, sans-serif;
					padding: 5px;
					width: 202px;
				}
				.tasks {
					float: left;

					.task {
						border-radius: 5px;
						color: #fff;
						float: left;
						font: 0.8em Helvetica Neue, Helvetica, Arial, sans-serif;
						margin-right: $hours_gutter;
						overflow: hidden;
						padding: 5px;
						white-space: nowrap;

						&.red {
							background-color: $red;
						}
						&.yellow {
							background-color: $yellow;
						}
						&.dark_blue {
							background-color: $dark_blue;
						}
						&.dark_green {
							background-color: $dark_green;
						}
					}
				}
			}
		}
	}
}