@import 'styles/config';

* {
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	padding: 20px;
}

.project {
	background-color: #fff;
	float: left;
	padding: 20px;
	width: 14000px;

	.timeline {
		float: left;
		padding-left: 200px;
		position: relative;
		width: 100%;

		.days {
			float: left;

			.day {
				float: left;

				&.friday {

					.hours {

						.hour {

							&:last-child {
								border-right: $hours_gutter solid rgba(0, 0, 0, 0.25);
							}
						}
					}
				}

				> .name {
					border-bottom: $hours_gutter solid rgba(0, 0, 0, 0.25);
					color: rgba(0, 0, 0, 0.87);
					float: left;
					font: 1em Helvetica Neue, Helvetica, Arial, sans-serif;
					padding: 5px 0;
					text-align: center;
					width: 100%;

					span {
						color: rgba(0, 0, 0, 0.38);
						font-size: 0.7em;
						text-transform: uppercase;
						vertical-align: baseline;
					}
				}
				.hours {
					clear: both;
					float: left;

					.hour {
						border-right: $hours_gutter dashed rgba(0, 0, 0, 0.05);
						float: left;
						height: 400px;
						width: $hours_width + $hours_gutter;

						&:last-child {
							border-right-style: solid;
						}
					}
				}
			}
		}

		.developers {
			position: absolute;
			left: 0px;
			top: 35px;

			.developer {
				float: left;
				padding: 10px 0;
				width: 100%;

				&:nth-child(2n) {
					background-color: rgba(0, 0, 0, 0.05);
				}

				.name {
					color: rgba(0, 0, 0, 0.87);
					float: left;
					font: bold 1em Helvetica Neue, Helvetica, Arial, sans-serif;
					padding: 5px;
					width: 200px;
				}
				.tasks {
					float: left;

					.task {
						border-radius: 5px;
						color: #fff;
						float: left;
						font: 0.8em Helvetica Neue, Helvetica, Arial, sans-serif;
						margin-right: $hours_gutter;
						overflow: hidden;
						padding: 5px;
						white-space: nowrap;

						&.red {
							background-color: $red;
						}
						&.pink {
							background-color: $pink;
						}
						&.light_purple {
							background-color: $light_purple;
						}
						&.dark_blue {
							background-color: $dark_blue;
						}
						&.dark_green {
							background-color: $dark_green;
						}
						&.yellow {
							background-color: $yellow;
						}
					}
				}
			}
		}
	}

}