// Variables
$hours_width: 30px;
$hours_gutter: 2px;
$hours_per_day: 6;

// Colours
$red: #e44;
$pink: #e69;
$light_purple: #96c;
$dark_purple: #000;
$indigo: #000;
$dark_blue: #17b;
$light_blue: #09c;
$cyan: #18a;
$teal: #199;
$dark_green: #1a7;
$light_green: #000;
$lime: #000;
$yellow: #fc4;
$amber: #000;
$light_orange: #f84;
$dark_orange: #000;